body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login{
  background-color: dimgrey;
}

 input {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  width: 200px;
}

.login text {
  text-align: left;
}

.city-state{
  background-color: darkslateblue;

}

.blocks {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.errors{
  border: red 1 solid;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}